#progress-bar-container {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 16px;
}


#progress-bar {
  transform-origin: top bottom;
  transform: scale(0,0);
  opacity: 0;
}

#progress-bar-container,
#progress-bar {
  width: 4px;
}
